@import url("https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light&display=swap");

body {
  background-color: #afd8f2;
  color: #1f3541;
  font-family: monospace;
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2,
th {
  font-family: "Anton", serif;
  text-align: center;
}

header,
footer {
  background-color: #1f3541;
  color: #edf2f3;
  text-align: center;
  padding: 20px;
}

.jumbotron {
  background-color: #1f3541;
  color: #edf2f3;
}

nav {
  border-top: thin #5b7d87 solid;
  border-bottom: thin #5b7d87 solid;
  padding-top: 12px;
  padding-bottom: 12px;
}
nav .btn {
  background-color: #1f3541;
  color: #edf2f3;
}
nav .btn:hover {
  font-weight: bold;
}

a {
  color: #1f3541;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}
